body{
    background-color: lightgrey;
    width: 50%;
    height: 20%;
    padding: 2%;
    border: 20px solid rgb(128, 0, 0);
    margin: 10%;
    align-items: center;
    text-align: center;
}
/* html{
    background-color: lightgrey;
    width: 50%;
    height: 20%;
    padding: 2%;
    border: 20px solid rgb(62, 128, 0);
    margin: 10%;
    align-items: center;
    text-align: center;
} */
.logo{
    border: 10px solid rgb(128, 0, 0);
    align-items: center;
    text-align: center;
    padding: 1%;
    width: 10rem;
    height: 10%;
}