body{
    background-color: lightgrey;
    width: 50%;
    height: 20%;
    padding: 2%;
    border: 20px solid rgb(128, 0, 0);
    margin: 10%;
    align-items: center;
    text-align: center;
}
.perfil{
    border: 3px solid rgb(128, 0, 0);

}
.asistencias{
    border: 3px solid green; 
}
.cuota{
    border: 3px solid orange
}
