<!DOCTYPE html>
<html>
<head>
</head>

<div>LOGO</div>

<body>
    <div class="Foto_perfil">FOTO</div>
    <div class="perfil">
        <h3>Perfil: {{ user?.name }}</h3>
        <p>Cinturón: {{ user?.cinturon }}</p>
        <p>Fecha de inicio: {{ user?.fetch }}</p>
        <p>Categoría: {{ user?.categoria }}</p>
        <button routerLink="/edit"> EDITAR PERFIL</button>
     </div>
  <button>alumnos</button>
  <button>fechas</button>
    <div class="asistencias" >
            <p>Asistencias </p>
    </div>  
    
    <div class="cuota">
            <p>Cuotas </p>
    </div>
</body>
<footer class="footer"><h1>Creado por Maxi</h1></footer>

</html>