<form [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <h2>REGISTRARSE</h2>

    <div class="mb-3">
        <label for="nickname">Usuario: </label>
        <input type="text" class="form-control" formControlName="nickname" id="nickname" placeholder="Ingrese su Usuario">
    </div>
    <div class="mb-3">
        <label for="email">Email: </label>
        <input type="email" class="form-control" formControlName="email" id="email" placeholder="Ingrese su Email">
    </div>
    <div class="mb-3">
        <label for="password">Contraseña: </label>
        <input type="password" class="form-control" formControlName="password" id="password" placeholder="Ingrese Su Contraseña">
    </div>
    <div class="mb-3">
        <label for="surname">Apellido: </label>
        <input type="text" class="form-control" formControlName="surname" id="surname" placeholder="Ingrese Su Apellido">  
    </div>
    <div class="mb-3">
        <label for="age">Edad: </label>
        <input type="text" class="form-control" formControlName="age" id="age" placeholder="Ingrese Su edad en nùmeros">
    
    <div class="mb-3">
        <label for="weight">Peso: </label>
        <input type="number" class="form-control" formControlName="weight" id="weight" placeholder="Ingrese Su peso Kgs en nùmeros ">
    </div>
    </div>
    <div class="mb-3">
        <label for="faixa">Faixa: </label>
        <input type="text" class="form-control" formControlName="faixa" id="faixa" placeholder="Ingrese Su Cinturon">
    </div>
    <div class="mb-3">
        <label for="role">rol: </label>
        <input type="text" class="form-control" formControlName="role" id="role" placeholder="Ingrese Su Rol">
    </div>

    <div class="mb-3">
        <label for="date">Fecha de Nacimiento: </label>
        <input type="text"class="form-control" formControlName="date" id="date" placeholder="Ingrese Su fecha de nacimiento">
    </div>
    <input type="submit" value="REGISTRARSE" class="btn btn-success">    
</form>