<!DOCTYPE html>
<html>
<head>
</head>

<div>LOGO</div>

<body>
    <div class="Foto_perfil">FOTO</div>
    <div class="perfil">
        <h3> {{ user?.nickname }}</h3>
        <h2>{{user?.role}}    </h2>
    <p>Cinturón: {{ user?.faixa }}</p>
    <p>Edad: {{ user?.age }} Años</p>
    <p>Peso: {{user?.weight }} Kgs</p>
    <p>Fecha de Nacimiento: {{ user?.date }}</p>
    

        <button routerLink="/edit"> EDITAR PERFIL</button>

     </div>
  
    <div class="asistencias" >
            <p>Asistencias </p>
    </div>  
    
    <div class="cuota">
            <p>Cuotas </p>
    </div>
</body>
<!-- <footer class="footer"><h1>Creado por Maxi</h1></footer> -->

</html>