<!DOCTYPE html>
<html>
<head>
</head>

<div>LOGO</div>

<body>
    <div class="Foto_perfil">FOTO</div>
    <div class="perfil">
        <h3>Perfil: {{ user?.nickname }}</h3>
        <p>Cinturón: {{ user?.faixa }}</p>
        <p>Fecha de inicio: {{ user?.date }}</p>
        <p>Edad: {{ user?.age }}</p>


        <button routerLink="/edit"> EDITAR PERFIL</button>

     </div>
  
    <div class="asistencias" >
            <p>Asistencias </p>
    </div>  
    
    <div class="cuota">s
            <p>Cuotas </p>
    </div>
</body>
<footer class="footer"><h1>Creado por Maxi</h1></footer>

</html>