<!DOCTYPE html>
<html>
<head>
</head>

<div>LOGO</div>

<body>
    <div class="Foto_perfil">FOTO</div>
    <div class="perfil">
        <h3>Perfil: MAXI</h3>
        <p>cinturon</p>
        <p>cuando empezaste</p>
        <p>categoria</p>
        <button routerLink="/edit"> EDITAR PERFIL</button>

     </div>
  
    <div class="asistencias" >
            <p>Asistencias </p>
    </div>  
    
    <div class="cuota">
            <p>Cuotas </p>
    </div>
</body>
<footer class="footer"><h1>Creado por Maxi</h1></footer>

</html>