<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h2> REGISTRARSE</h2>
<div>
    <label for="text">Usuario: </label>
    <input type="text" name="Usuario" placeholder="ingrese usuario"><br>
    <label for="Password">Contraseña: </label>
    <input type="password" name="contraseña" placeholder="ingrese contraseña"><br>

    <label for="text">Nombre: </label>
    <input type="text" name="Usuario" placeholder="ingrese Su Nombre"><br>
    <label for="text">Apellido: </label>
    <input type="text" name="Apellido" placeholder="ingrese su Apellido"><br>
    <label for="text">Edad: </label>
    <input type="text" name="Edad" placeholder="ingrese su Edad"><br>
    <label for="text">Cinturon: </label> 
    <input type="text" name="cinturon" placeholder="ingrese cinturon"><br>
    <label for="text">Peso: </label>
    <input type="text" name="peso" placeholder="ingrese su peso en Kgs"><br>
    <label for="text">Apodo: </label>
    <input type="text" name="Apodo" placeholder="ingrese un Apodo"><br>
    
    <button>AGREGAR  DATOS </button>
</div>

</body>
</html>